body{
    font-family: Baloo Bhai;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url(image/BodyBackground.jpg);
}
.left{
    display: inline-block;
    /* border: 2px solid yellow; */
    position: absolute;
    left: 34px;
    top: 20px;
}
.left div{
    line-height: 20px;
    font-size: 26px;
    text-align: center;
}
.left img{
    left: 11px;
    width: 150px;
    filter: invert(100%);
}
.mid{
    display: block;
    width: 50%;
    margin: 30px auto;
    /* border: 2px solid navajowhite; */
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid blueviolet; */
}
.navbar{
    display: inline-block;

}
.navbar li{
    display: inline-block;
    font-size: 25px;

}
.navbar li a{
    color: cyan;
    text-decoration: none;
    padding: 11px 12px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: darkorange;

}
.btn{
    margin: 0px 9px ;
    color: white;
    background-color: black;
    padding: 7px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    font-family: Baloo Bhai;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color:blue;
}
.container{
    border: 2px solid white;
    margin: 150px 80px;
    padding: 50px;
    width: 40%;
    border-radius: 28px;
}
.form-group input{
    font-family: 'Baloo Bhai', cursive;
        text-align: center;
        display: block;
        width: 508px;
        padding: 1px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 25px;
        border-radius: 8px;

}
.container h1{
    text-align: center;
}
.container button{
        display: block;
        width: 74%;
        margin: 20px auto;
}